@model ForgotPasswordViewModel

<div class="card shadow p-4 mt-4">
    
    <h3 class="mb-3">Password Reset Request</h3>
    
    <form asp-action="ForgotPassword" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group mt-3">
            <label asp-for="Email" class="control-label"><i class="bi bi-envelope-fill me-2"></i>Email Address</label>
            <input type="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        
        <div class="form-group mt-3">
            <input type="submit" value="Confirm" class="btn btn-primary" />
            <a class="btn btn-secondary" asp-controller="User" asp-action="Login">Cancel</a>
        </div>

    </form>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
