@model ResetPasswordViewModel

<div class="card shadow p-4 mt-4">
    
    <h3 class="mb-3">Reset New Password</h3>
    
    <form asp-action="ResetPassword" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group mt-3">
            <label asp-for="Email" class="control-label"><i class="bi-person-fill"></i>Email</label>
            <input type="text" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        
        <div class="form-group mt-3">
            <label asp-for="Token" class="control-label"><i class="bi bi-incognito"></i>Token</label>
            <input type="text" asp-for="Token" class="form-control" />
            <span asp-validation-for="Token" class="text-danger"></span>
        </div>
        
        <div class="form-group mt-3">
            <label asp-for="Password" class="control-label"><i class="bi-shield-lock-fill"></i> Password</label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="PasswordConfirm" class="control-label">Password Confirm</label>
            <input type="password" asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
